.search-box{
    --webkit-appearance: none;
    padding: 10px;
    width: 250px;
     margin-bottom: 60px;
     margin-top:20px;
     line-height:50px;
     outline:none;
     border:none;
     font-size: medium;


}